<!DOCTYPE html>
<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" type="text/css">
		<title>HackTX</title>
	</head>
	<body>
		<div class="col-md-6 col-md-offset-3">
			<div class="content col-md-12">
				<div>
					<h1 id="title" class="text-danger">HackTX</h1>
				</div>
				
				<form class="form-inline" id="registerForm" method="POST" action="/register">
					<div class="form-group col-md-12 col-xs-12">			
						<input id="fname" type="text" class="form-control" name="firstname" placeholder="Enter first name">
						<input id="lname" type="text" class="form-control" name="lastname" placeholder="Enter last name">
						<input id="snum" type="text" class="form-control" name="street_number" placeholder="Enter street number">
						<input id="sname" type="text" class="form-control" name="street_name" placeholder="Enter street name">
						<input id="city" type="text" class="form-control" name="city" placeholder="Enter city">
						<input id="state" type="text" class="form-control" name="state" placeholder="Enter state">
						<input id="zipcode" type="text" class="form-control" name="zip" placeholder="Enter zipcode">
						<input id="lat" type="hidden" class="form-control" name="lat" >
						<input id="long" type="hidden" class="form-control" name="lng" >
						<button class="btn btn-success" type="submit">Login</button>
					</div>
				</form>	
				<p id="demo"></p>		
			</div>		
		</div>
		<script src="//code.jquery.com/jquery-1.12.0.min.js"></script>
		<script type="text/javascript">
			<script type="text/javascript">
			var x = document.getElementById("demo");
			function getLocation() {
			    if (navigator.geolocation) {
			        navigator.geolocation.getCurrentPosition(getPosition, showError);
			    } else { 
			        x.innerHTML = "Geolocation is not supported by this browser.";
			    }
			}
			function getPosition(position) {
				console.log('getPosition');
				lat = position.coords.latitude;
    			long = position.coords.longitude;
    			$("#lat").val(lat);
    			$("#long").val(long);
    			
			}
			function showError(error) {
    switch(error.code) {
        case error.PERMISSION_DENIED:
            x.innerHTML = "User denied the request for Geolocation."
            break;
        case error.POSITION_UNAVAILABLE:
            x.innerHTML = "Location information is unavailable."
            break;
        case error.TIMEOUT:
            x.innerHTML = "The request to get user location timed out."
            break;
        case error.UNKNOWN_ERROR:
            x.innerHTML = "An unknown error occurred."
            break;
    }
}
		getLocation();
		</script>
	</body>
</html>